@{
    ViewData["Title"] = "Home Page";
}

@section Head{
    <style>
    .col-sm-4{
        margin:4px;
        text-align: center;
    }
    </style>
}

<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"><a href="@Url.Action("Index", "Frame")" class="btn btn-primary">Frames</a></div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"><a href="@Url.Action("Index", "Indicator")" class="btn btn-primary">Indicators</a></div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"><a href="@Url.Action("Index", "Dividing")" class="btn btn-primary">Dividing Lines</a></div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"><a href="@Url.Action("Index", "SideBySide")" class="btn btn-primary">Side-by-Side</a></div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"><a href="@Url.Action("Index", "Toggle")" class="btn btn-primary">Toggle</a></div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"><a href="@Url.Action("Index", "FrameIndicator")" class="btn btn-primary">Frames + Indicators</a></div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"><a href="@Url.Action("Index", "FrameDividing")" class="btn btn-primary">Frames + Dividing Lines</a></div>
        <div class="col-sm-4"></div>
    </div>
</div>