@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@section scripts {
    
}
@section head{
    <style>
    .row{
        margin-top:4px;
    }
    .container-fluid{
        height: 79%;
    }

    .btn-primary {
        background-color: #0f6bad;
        border-color:  #0f6bad;
    }
    </style>
}

<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="row">
                <div class="col">Grade 4</div>
                <div class="col-centered">
                    <a href='@Url.Action("item3527", "Stacked")' role="button" class="btn btn-primary">Stacked (Current)</a>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-centered">
                    <a  href='@Url.Action("item3527", "Symbols")' role="button" class="btn btn-primary">Indicators</a>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-centered">
                    <a  href='@Url.Action("item3527", "Divided")' role="button" class="btn btn-primary">Dividing Lines</a>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-centered">
                    <a href='@Url.Action("item3527", "Toggle")'  role="button" class="btn btn-primary">Toggle</a>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-centered">
                    <a  href='@Url.Action("item3527", "SymbolFrames")' role="button" class="btn btn-primary">Hybrid - Frames and Indicators</a>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-centered">
                    <a href='@Url.Action("item3527", "DividedFrames")'  role="button" class="btn btn-primary">Hybrid - Frames and Lines</a>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">Grade 7</div>
                <div class="col-centered">
                    <a href='@Url.Action("item3695", "Stacked")' role="button" class="btn btn-primary">Stacked (Current)</a>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-centered">
                    <a  href='@Url.Action("item3695", "Symbols")' role="button" class="btn btn-primary">Indicators</a>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-centered">
                    <a  href='@Url.Action("item3695", "Divided")' role="button" class="btn btn-primary">Dividing Lines</a>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-centered">
                    <a href='@Url.Action("item3695", "Toggle")'  role="button" class="btn btn-primary">Toggle</a>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-centered">
                    <a  href='@Url.Action("item3695", "SymbolFrames")' role="button" class="btn btn-primary">Hybrid - Frames and Indicators</a>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-centered">
                    <a href='@Url.Action("item3695", "DividedFrames")'  role="button" class="btn btn-primary">Hybrid - Frames and Lines</a>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">Grade 11</div>
                <div class="col-centered">
                    <a href='@Url.Action("item3694", "Stacked")' role="button" class="btn btn-primary">Stacked (Current)</a>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-centered">
                    <a  href='@Url.Action("item3694", "Symbols")' role="button" class="btn btn-primary">Indicators</a>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-centered">
                    <a  href='@Url.Action("item3694", "Divided")' role="button" class="btn btn-primary">Dividing Lines</a>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-centered">
                    <a href='@Url.Action("item3694", "Toggle")'  role="button" class="btn btn-primary">Toggle</a>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-centered">
                    <a  href='@Url.Action("item3694", "SymbolFrames")' role="button" class="btn btn-primary">Hybrid - Frames and Indicators</a>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-centered">
                    <a href='@Url.Action("item3694", "DividedFrames")'  role="button" class="btn btn-primary">Hybrid - Frames and Lines</a>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>